#nome{
  text-align: center;
  text-decoration: underline;
}
#foto {
  margin-right: 20px;
  padding: 5px;
  background-color: black;
  border-radius: 45%;
  float: left;
}
h1 {        
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #99939F;
}
.description {
  padding-top: 10px;
  height: 205px;
  font-family: helvetica;
}
.origem {
  text-decoration: underline;
}
.divgit{    
  height: 40px; 
}

.botaogit {
  margin-right: 5px;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
}

.botao {    
  text-decoration: none;
  padding: 10px 15px;
  background-color: grey;
  color: white;
  font-weight: bolder;
}

ul li:nth-child(odd) {
  font-weight: bold;  
}
