img {
  border-radius: 45%;
}
h1 {        
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #99939F;
}
.description {
  font-family: helvetica;
}
.origem {
  text-decoration: underline;
}
.unix {
  font-size: 22px;
}
.git {
  font-size: 20px;
}
.html {
  font-size: 16px;
}
.css {
  font-size: 24px;
}
.botaogit {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 600;
}
.botao {
  text-decoration: none;
  padding: 10px 15px;
  background-color: grey;
  color: white;
  font-weight: bolder;
}